In [1]:
import numpy as np
import pandas as pd
import ast
import time

In [88]:
df = pd.read_csv('MorthDataSets/tbl_CR_Victim_Info.csv', squeeze=True)

In [89]:
df.columns

Index([u'Victim_ID', u'Unit_ID', u'FIR_ID', u'NC_ID', u'Arr_ID',
       u'Injury_type', u'Major_Cause', u'Minor_Cause', u'isFire_Arms',
       u'isLicensed', u'Injury_Nature', u'Means', u'Doctor_Name',
       u'Doctor_Address1', u'Doctor_Address2', u'Doctor_State', u'Doctor_City',
       u'Doctor_Pincode', u'Phone', u'Fax', u'email', u'Reason',
       u'Demise_Date', u'Demise_Date_To', u'Ornaments_given_to',
       u'Weapons_given_to', u'Items_given_to_hosp', u'Other_Marks',
       u'Hair_Length', u'isIdentified', u'NHRC_Followed',
       u'Misssing_Part_of_Body', u'IsPoliceOnDuty', u'Circumstance',
       u'IsSuicide', u'Suicide_Profile', u'Suicide_Status',
       u'Suicidal_Education_Status', u'Suicide_Adopted_Means',
       u'Suicide_AdoptedMeans_Detail', u'Date_Of_Missing', u'Place_Of_Missing',
       u'IsBurried', u'UserID', u'Modified_Unit_ID', u'Action_Flag',
       u'Sync_Id', u'Sync_Id_Old', u'DEDT', u'DD_NameofRecOff',
       u'DD_ModeofDeclar', u'DD_Designation', u'DD_RecordingDateTime',
       u'DD_Remarks', u'DD_Placeofstatmnttaken', u'DD_Other_Members'],
      dtype='object')

In [90]:
df.head(5)

,Victim_ID,Unit_ID,FIR_ID,NC_ID,Arr_ID,Injury_type,Major_Cause,Minor_Cause,isFire_Arms,isLicensed,...,Sync_Id,Sync_Id_Old,DEDT,DD_NameofRecOff,DD_ModeofDeclar,DD_Designation,DD_RecordingDateTime,DD_Remarks,DD_Placeofstatmnttaken,DD_Other_Members
0,2014000001,57,2014000001,NaN,2014000002,1,0,0,NaN,NaN,...,-1,-1,1/1/2014 1:42,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014000001,58,2014000001,NaN,2014000002,1,0,0,NaN,NaN,...,-1,-1,1/1/2014 19:22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014000001,59,2014000001,NaN,2014000002,1,0,0,NaN,NaN,...,-1,-1,1/1/2014 17:24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014000001,111,2014000002,NaN,2014000011,1,0,0,NaN,NaN,...,-1,-1,1/9/2014 14:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014000001,117,2014000002,NaN,2014000012,1,0,0,NaN,NaN,...,-1,-1,1/4/2014 17:42,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
df.isna().sum()

Victim_ID                           0
Unit_ID                             0
FIR_ID                              0
NC_ID                          314046
Arr_ID                              0
Injury_type                         0
Major_Cause                         0
Minor_Cause                         0
isFire_Arms                    314046
isLicensed                     314046
Injury_Nature                  303011
Means                          308758
Doctor_Name                    310469
Doctor_Address1                309321
Doctor_Address2                314046
Doctor_State                   314046
Doctor_City                    314046
Doctor_Pincode                 314046
Phone                          307814
Fax                            314039
email                          314045
Reason                         308833
Demise_Date                    308963
Demise_Date_To                 309114
Ornaments_given_to             314046
Weapons_given_to               314046
Items_given_to_hosp            314046
Other_Marks                    314046
Hair_Length                    308833
isIdentified                   308833
NHRC_Followed                  308833
Misssing_Part_of_Body          313988
IsPoliceOnDuty                      0
Circumstance                   314046
IsSuicide                           0
Suicide_Profile                     0
Suicide_Status                      0
Suicidal_Education_Status           0
Suicide_Adopted_Means               0
Suicide_AdoptedMeans_Detail         0
Date_Of_Missing                289236
Place_Of_Missing               292025
IsBurried                           0
UserID                              0
Modified_Unit_ID                    0
Action_Flag                         0
Sync_Id                             0
Sync_Id_Old                         0
DEDT                                0
DD_NameofRecOff                314024
DD_ModeofDeclar                228876
DD_Designation                 314030
DD_RecordingDateTime           314024
DD_Remarks                     314042
DD_Placeofstatmnttaken         314035
DD_Other_Members               314038
dtype: int64

In [92]:
df.drop(['NC_ID','isFire_Arms','isLicensed','Injury_Nature','Means','Doctor_Address1','Doctor_Address2','Doctor_State','Doctor_City','Doctor_Pincode'] ,axis=1, inplace=True)

In [93]:
df.isna().sum()

Victim_ID                           0
Unit_ID                             0
FIR_ID                              0
Arr_ID                              0
Injury_type                         0
Major_Cause                         0
Minor_Cause                         0
Doctor_Name                    310469
Phone                          307814
Fax                            314039
email                          314045
Reason                         308833
Demise_Date                    308963
Demise_Date_To                 309114
Ornaments_given_to             314046
Weapons_given_to               314046
Items_given_to_hosp            314046
Other_Marks                    314046
Hair_Length                    308833
isIdentified                   308833
NHRC_Followed                  308833
Misssing_Part_of_Body          313988
IsPoliceOnDuty                      0
Circumstance                   314046
IsSuicide                           0
Suicide_Profile                     0
Suicide_Status                      0
Suicidal_Education_Status           0
Suicide_Adopted_Means               0
Suicide_AdoptedMeans_Detail         0
Date_Of_Missing                289236
Place_Of_Missing               292025
IsBurried                           0
UserID                              0
Modified_Unit_ID                    0
Action_Flag                         0
Sync_Id                             0
Sync_Id_Old                         0
DEDT                                0
DD_NameofRecOff                314024
DD_ModeofDeclar                228876
DD_Designation                 314030
DD_RecordingDateTime           314024
DD_Remarks                     314042
DD_Placeofstatmnttaken         314035
DD_Other_Members               314038
dtype: int64

In [94]:
df.drop(['DD_NameofRecOff','DD_ModeofDeclar','DD_Designation','DD_RecordingDateTime','DD_Remarks','DD_Placeofstatmnttaken','DD_Other_Members'],axis=1, inplace=True)

In [95]:
df.isna().sum()

Victim_ID                           0
Unit_ID                             0
FIR_ID                              0
Arr_ID                              0
Injury_type                         0
Major_Cause                         0
Minor_Cause                         0
Doctor_Name                    310469
Phone                          307814
Fax                            314039
email                          314045
Reason                         308833
Demise_Date                    308963
Demise_Date_To                 309114
Ornaments_given_to             314046
Weapons_given_to               314046
Items_given_to_hosp            314046
Other_Marks                    314046
Hair_Length                    308833
isIdentified                   308833
NHRC_Followed                  308833
Misssing_Part_of_Body          313988
IsPoliceOnDuty                      0
Circumstance                   314046
IsSuicide                           0
Suicide_Profile                     0
Suicide_Status                      0
Suicidal_Education_Status           0
Suicide_Adopted_Means               0
Suicide_AdoptedMeans_Detail         0
Date_Of_Missing                289236
Place_Of_Missing               292025
IsBurried                           0
UserID                              0
Modified_Unit_ID                    0
Action_Flag                         0
Sync_Id                             0
Sync_Id_Old                         0
DEDT                                0
dtype: int64

In [96]:
df.drop(['Circumstance','Misssing_Part_of_Body','NHRC_Followed','isIdentified','Hair_Length','Other_Marks','Items_given_to_hosp','Weapons_given_to','Ornaments_given_to','Demise_Date_To','Demise_Date','Reason','email','Fax','Phone','Doctor_Name'],axis=1,inplace=True)

In [97]:
# df['Place of Missing'] = df['Place_Of_Missing'].apply(lambda x : str(x.lower()))
df['Place_Of_Missing'] = df['Place_Of_Missing'].fillna('not available')

In [98]:
df.drop(['Date_Of_Missing'],axis=1,inplace=True)

In [99]:
df['Place_Of_Missing'] = df['Place_Of_Missing'].apply(lambda x : str(x.lower()))

In [100]:
df['Place_Of_Missing']

0                                            not available
1                                            not available
2                                            not available
3                                            not available
4                                            not available
5                                  rasthemachikere village
6                                            not available
7                                            not available
8                                            not available
9                                            not available
10                                           not available
11                                           not available
12                                           not available
13                                           not available
14                                           not available
15                                                    spot
16                                          hombal village
17                                           not available
18                                           not available
19                                           not available
20        near anchemane, sompura hobli, nelamangala taluk
21                                           not available
22                                           not available
23                                           not available
24                                           not available
25                                           not available
26                                      bommanayakanahalli
27                           khanapaur road near big bazar
28                                           not available
29                                           not available
                                ...
314016                                       not available
314017                                       not available
314018                                       not available
314019                                       not available
314020                                       not available
314021                                       not available
314022                                       not available
314023                                       not available
314024                                       not available
314025                                       not available
314026                                       not available
314027                                       not available
314028                                       not available
314029                                       not available
314030                                       not available
314031                                       not available
314032                                       not available
314033                                       not available
314034                                       not available
314035                                       not available
314036                                       not available
314037                                       not available
314038                                       not available
314039                                       not available
314040                                       not available
314041                                       not available
314042                                       not available
314043                                       not available
314044                                       not available
314045                                       not available
Name: Place_Of_Missing, Length: 314046, dtype: object

In [101]:
df['Place_Of_Missing'].value_counts().idxmax()
df['Place_Of_Missing'].mode()

0    not available
dtype: object

In [102]:
df['place'] = df['Place_Of_Missing'].apply(lambda x : x.split(',')[-1])

In [103]:
df['place']

0                         not available
1                         not available
2                         not available
3                         not available
4                         not available
5               rasthemachikere village
6                         not available
7                         not available
8                         not available
9                         not available
10                        not available
11                        not available
12                        not available
13                        not available
14                        not available
15                                 spot
16                       hombal village
17                        not available
18                        not available
19                        not available
20                    nelamangala taluk
21                        not available
22                        not available
23                        not available
24                        not available
25                        not available
26                   bommanayakanahalli
27        khanapaur road near big bazar
28                        not available
29                        not available
                      ...
314016                    not available
314017                    not available
314018                    not available
314019                    not available
314020                    not available
314021                    not available
314022                    not available
314023                    not available
314024                    not available
314025                    not available
314026                    not available
314027                    not available
314028                    not available
314029                    not available
314030                    not available
314031                    not available
314032                    not available
314033                    not available
314034                    not available
314035                    not available
314036                    not available
314037                    not available
314038                    not available
314039                    not available
314040                    not available
314041                    not available
314042                    not available
314043                    not available
314044                    not available
314045                    not available
Name: place, Length: 314046, dtype: object

In [104]:
df.describe()

,Victim_ID,Unit_ID,FIR_ID,Arr_ID,Injury_type,Major_Cause,Minor_Cause,IsPoliceOnDuty,IsSuicide,Suicide_Profile,Suicide_Status,Suicidal_Education_Status,Suicide_Adopted_Means,Suicide_AdoptedMeans_Detail,IsBurried,UserID,Modified_Unit_ID,Sync_Id,Sync_Id_Old
count,3.140460e+05,314046.000000,3.140460e+05,3.140460e+05,314046.000000,314046.000000,314046.000000,314046.000000,314046.000000,314046.000000,314046.000000,314046.000000,314046.000000,314046.0,314046.000000,3.140460e+05,314046.0,314046.0,314046.0
mean,2.016057e+09,1142.714281,2.016042e+09,2.016058e+09,1.299911,86.110853,1.265143,0.000318,0.000013,8.062411,22.501522,5.469600,0.001232,0.0,0.000045,9.890344e+07,0.0,-1.0,-1.0
std,1.456335e+06,592.120839,1.451288e+06,1.456315e+06,0.960290,855.855619,12.814750,0.017842,0.003569,3.139552,41.158635,23.374028,0.398706,0.0,0.006677,6.014918e+07,0.0,0.0,0.0
min,2.014000e+09,42.000000,2.014000e+09,2.014000e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000e+00,0.0,-1.0,-1.0
25%,2.015000e+09,608.000000,2.015000e+09,2.015000e+09,1.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000,0.0,0.000000,4.860008e+07,0.0,-1.0,-1.0
50%,2.016000e+09,1159.000000,2.016000e+09,2.016001e+09,1.000000,0.000000,0.000000,0.000000,0.000000,10.000000,0.000000,0.000000,0.000000,0.0,0.000000,1.009000e+08,0.0,-1.0,-1.0
75%,2.017000e+09,1658.000000,2.017000e+09,2.017001e+09,2.000000,0.000000,0.000000,0.000000,0.000000,10.000000,0.000000,0.000000,0.000000,0.0,0.000000,1.468000e+08,0.0,-1.0,-1.0
max,2.019001e+09,2245.000000,2.019000e+09,2.019002e+09,5.000000,10312.000000,137.000000,1.000000,1.000000,12.000000,101.000000,110.000000,129.000000,0.0,1.000000,1.869000e+09,0.0,-1.0,-1.0

In [105]:
df.drop(['Modified_Unit_ID','Suicide_AdoptedMeans_Detail','Sync_Id','Sync_Id_Old'],axis=1,inplace=True)

In [106]:
df.describe()

,Victim_ID,Unit_ID,FIR_ID,Arr_ID,Injury_type,Major_Cause,Minor_Cause,IsPoliceOnDuty,IsSuicide,Suicide_Profile,Suicide_Status,Suicidal_Education_Status,Suicide_Adopted_Means,IsBurried,UserID
count,3.140460e+05,314046.000000,3.140460e+05,3.140460e+05,314046.000000,314046.000000,314046.000000,314046.000000,314046.000000,314046.000000,314046.000000,314046.000000,314046.000000,314046.000000,3.140460e+05
mean,2.016057e+09,1142.714281,2.016042e+09,2.016058e+09,1.299911,86.110853,1.265143,0.000318,0.000013,8.062411,22.501522,5.469600,0.001232,0.000045,9.890344e+07
std,1.456335e+06,592.120839,1.451288e+06,1.456315e+06,0.960290,855.855619,12.814750,0.017842,0.003569,3.139552,41.158635,23.374028,0.398706,0.006677,6.014918e+07
min,2.014000e+09,42.000000,2.014000e+09,2.014000e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
25%,2.015000e+09,608.000000,2.015000e+09,2.015000e+09,1.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000,4.860008e+07
50%,2.016000e+09,1159.000000,2.016000e+09,2.016001e+09,1.000000,0.000000,0.000000,0.000000,0.000000,10.000000,0.000000,0.000000,0.000000,0.000000,1.009000e+08
75%,2.017000e+09,1658.000000,2.017000e+09,2.017001e+09,2.000000,0.000000,0.000000,0.000000,0.000000,10.000000,0.000000,0.000000,0.000000,0.000000,1.468000e+08
max,2.019001e+09,2245.000000,2.019000e+09,2.019002e+09,5.000000,10312.000000,137.000000,1.000000,1.000000,12.000000,101.000000,110.000000,129.000000,1.000000,1.869000e+09

In [107]:
df.dropna(inplace=True)

In [108]:
pol = df.groupby(['IsPoliceOnDuty', 'Injury_type'])

In [109]:
subset = df.drop_duplicates(subset=['FIR_ID'])

In [110]:
subset

,Victim_ID,Unit_ID,FIR_ID,Arr_ID,Injury_type,Major_Cause,Minor_Cause,IsPoliceOnDuty,IsSuicide,Suicide_Profile,Suicide_Status,Suicidal_Education_Status,Suicide_Adopted_Means,Place_Of_Missing,IsBurried,UserID,Action_Flag,DEDT,place
0,2014000001,57,2014000001,2014000002,1,0,0,0,0,3,0,0,0,not available,0,5900027,N,1/1/2014 1:42,not available
3,2014000001,111,2014000002,2014000011,1,0,0,0,0,10,98,0,0,not available,0,11100001,N,1/9/2014 14:20,not available
6,2014000001,136,2014000003,2014000010,1,0,0,0,0,1,0,0,0,not available,0,156400041,N,1/1/2014 20:32,not available
48,2014000001,429,2014000004,2014000013,1,0,0,0,0,1,98,0,0,not available,0,151000053,N,1/4/2014 12:22,not available
75,2014000001,718,2014000006,2014000041,1,0,0,0,0,2,98,0,0,not available,0,16000011,N,1/28/2014 13:40,not available
110,2014000001,976,2014000005,2014000010,1,0,0,0,0,10,0,0,0,not available,0,98800017,N,1/4/2014 17:11,not available
112,2014000001,985,2014000008,2014000025,1,0,0,0,0,10,0,0,0,not available,0,98500020,N,1/6/2014 14:27,not available
113,2014000001,988,2014000007,2014000019,1,0,0,0,0,10,0,0,0,not available,0,36400026,N,1/11/2014 9:34,not available
114,2014000001,992,2014000012,2014000044,1,0,0,0,0,9,97,0,0,not available,0,98300001,N,1/23/2014 23:23,not available
313,2014000002,348,2014000013,2014000053,1,0,0,0,0,10,98,0,0,not available,0,33400016,N,3/16/2014 20:09,not available
319,2014000002,372,2014000058,2014000119,1,0,0,0,0,9,0,0,0,not available,0,117300026,N,3/2/2014 12:45,not available
396,2014000002,975,2014000019,2014000071,1,0,0,0,0,3,0,0,0,not available,0,95800028,N,1/7/2014 21:57,not available
456,2014000002,1463,2014000009,2014000024,1,0,0,0,0,7,0,0,0,not available,0,147200024,N,1/10/2014 7:03,not available
574,2014000003,112,2014000014,2014000065,1,0,0,0,0,10,0,0,0,not available,0,152200037,N,1/16/2014 11:56,not available
612,2014000003,372,2014000069,2014000147,3,0,0,0,0,10,98,0,0,not available,0,37200048,N,3/11/2014 0:36,not available
672,2014000003,924,2014000017,2014000022,0,0,0,0,0,10,0,0,0,not available,0,95000033,N,3/4/2014 12:50,not available
685,2014000003,975,2014000027,2014000097,1,0,0,0,0,3,0,0,0,not available,0,182300042,N,1/13/2014 19:20,not available
688,2014000003,985,2014000021,2014000064,1,0,0,0,0,10,0,0,0,not available,0,98500007,N,1/12/2014 14:05,not available
690,2014000003,993,2014000010,2014000037,1,8734,0,0,0,9,98,0,0,not available,0,96300028,N,1/22/2014 18:07,not available
756,2014000003,1474,2014000018,2014000041,1,0,0,0,0,5,98,104,0,not available,0,15600031,N,1/17/2014 8:49,not available
843,2014000003,1815,2014000011,2014000036,0,0,0,0,0,3,98,104,0,sakrebylu near,0,100200008,N,1/10/2014 0:59,sakrebylu near
915,2014000004,343,2014000015,2014000061,0,0,0,0,0,5,0,0,0,not available,0,33500038,N,1/15/2014 20:36,not available
1041,2014000004,1245,2014000016,2014000095,1,0,0,0,0,10,98,0,0,not available,0,42900007,N,1/30/2014 0:52,not available
1064,2014000004,1474,2014000106,2014000352,1,0,0,0,0,7,97,104,0,mamadapur,0,147400028,N,3/8/2014 12:39,mamadapur
1065,2014000004,1475,2014000045,2014000128,1,0,0,0,0,1,0,0,0,not available,0,38200036,N,3/25/2014 7:46,not available
1092,2014000004,1607,2014000025,2014000129,1,0,0,0,0,10,0,0,0,not available,0,158800027,N,2/18/2014 17:19,not available
1155,2014000004,1819,2014000022,2014000105,0,0,0,0,0,7,98,107,0,not available,0,56600214,N,2/3/2014 17:32,not available
1301,2014000005,967,2014000029,2014000064,3,0,0,0,0,10,0,0,0,not available,0,97200020,N,2/25/2014 17:56,not available
1315,2014000005,1024,2014000020,2014000087,0,0,0,0,0,3,98,0,0,not available,0,100000061,N,3/7/2014 16:09,not available
1373,2014000005,1475,2014000054,2014000162,1,0,0,0,0,1,0,0,0,not available,0,38200036,N,4/17/2014 16:12,not available
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311617,2019000016,319,2019000039,2019000112,1,134,135,0,0,9,98,0,0,not available,0,124000014,N,1/26/2019 15:40,not available
311669,2019000016,1051,2019000060,2019000107,1,0,0,0,0,10,0,0,0,not available,0,167200002,N,1/19/2019 17:36,not available
311677,2019000016,1123,2019000056,2019000154,1,0,0,0,0,9,98,0,0,not available,0,50,N,1/20/2019 21:30,not available
311922,2019000018,319,2019000043,2019000127,2,0,0,0,0,1,0,0,0,not available,0,145700009,N,1/31/2019 20:26,not available
311956,2019000018,953,2019000046,2019000084,1,0,0,0,0,10,98,0,0,not available,0,167400049,N,1/17/2019 11:16,not available
312006,2019000018,1678,2019000032,2019000057,1,0,0,0,0,10,0,0,0,not available,0,95100025,N,1/22/2019 10:29,not available
312083,2019000019,953,2019000061,2019000104,1,0,0,0,0,10,0,0,0,not available,0,91900278,N,1/18/2019 17:45,not available
312094,2019000019,1123,2019000062,2019000166,1,0,0,0,0,9,97,0,0,not available,0,112300056,N,1/25/2019 18:43,not available
312125,2019000019,1680,2019000051,2019000127,1,0,0,0,0,10,0,0,0,not available,0,153500045,N,1/20/2019 9:35,not available
312191,2019000020,1051,2019000066,2019000116,1,0,0,0,0,4,0,0,0,not available,0,106900026,N,1/26/2019 18:27,not available
312273,2019000021,699,2019000041,2019000108,1,0,0,0,0,10,0,0,0,not available,0,71800050,N,1/26/2019 10:35,not available
312323,2019000021,1675,2019000040,2019000084,1,0,0,0,0,3,97,0,0,not available,0,94400024,N,1/17/2019 12:52,not available
312383,2019000022,1051,2019000068,2019000120,1,0,0,0,0,10,0,0,0,not available,0,166200047,N,1/27/2019 13:51,not available
312450,2019000023,811,2019000038,2019000103,1,0,0,0,0,10,0,0,0,not available,0,80600023,N,1/31/2019 9:43,not available
312461,2019000023,953,2019000080,2019000129,1,0,0,0,0,7,0,109,0,not available,0,93800005,N,1/23/2019 12:01,not available
312522,2019000024,699,2019000042,2019000112,2,0,0,0,0,10,0,0,0,not available,0,158900318,N,1/26/2019 14:51,not available
312533,2019000024,953,2019000093,2019000141,1,0,0,0,0,10,0,0,0,not available,0,94400008,N,1/24/2019 21:13,not available
312565,2019000024,1679,2019000064,2019000113,1,16,0,0,0,10,98,0,0,kudlgadde yellapur,0,166600001,N,1/19/2019 19:50,kudlgadde yellapur
312617,2019000025,1051,2019000070,2019000150,1,0,0,0,0,12,0,0,0,not available,0,166200047,N,1/31/2019 23:38,not available
312618,2019000025,1123,2019000069,2019000187,1,0,0,0,0,10,0,0,0,not available,0,112300025,N,1/29/2019 14:30,not available
312640,2019000025,1674,2019000057,2019000121,1,0,0,0,0,10,98,106,0,not available,0,95300031,N,1/19/2019 14:47,not available
312689,2019000026,953,2019000098,2019000155,1,0,0,0,0,10,0,0,0,not available,0,91900278,N,1/26/2019 13:50,not available
312719,2019000026,1678,2019000037,2019000073,1,0,0,0,0,3,0,0,0,not available,0,166600044,N,1/27/2019 8:07,not available
312945,2019000030,1815,2019000044,2019000144,1,0,0,0,0,10,0,0,0,not available,0,100200035,N,1/18/2019 17:45,not available
313067,2019000033,1675,2019000059,2019000119,1,8734,0,0,0,3,98,0,0,not available,0,100474,N,1/23/2019 13:08,not available
313127,2019000035,877,2019000048,2019000256,1,0,0,0,0,10,97,0,0,not available,0,86400006,N,1/28/2019 20:41,not available
313131,2019000035,1069,2019000054,2019000128,1,0,0,0,0,3,0,0,0,not available,0,106300007,N,1/28/2019 17:38,not available
313146,2019000035,1680,2019000107,2019000223,1,0,0,0,0,10,98,0,0,not available,0,168100008,N,1/27/2019 19:34,not available
313237,2019000040,1680,2019000148,2019000276,1,0,0,0,0,10,97,0,0,not available,0,153500045,N,1/31/2019 21:46,not available
313388,2019000051,1468,2019000058,2019000143,1,0,0,0,0,10,0,0,0,not available,0,32400031,N,1/31/2019 20:47,not available

In [111]:
subset.to_csv('Victim_Info_Unique.csv')